server.port={{serverPort}}
{{#jackson}}
spring.jackson.date-format={{basePackage}}.RFC3339DateFormat
spring.jackson.serialization.WRITE_DATES_AS_TIMESTAMPS=false
{{/jackson}}
{{#gson}}
spring.mvc.converters.preferred-json-mapper=gson
{{/gson}}
{{#virtualService}}
virtualan.datasource.driver-class-name=org.hsqldb.jdbcDriver
virtualan.datasource.jdbcurl=jdbc:hsqldb:mem:dataSource
virtualan.datasource.username=sa
virtualan.datasource.password=
{{/virtualService}}
